//-
  options.items - array of bullet list's items

mixin bullet-list(options) 
  if !options
    - options = {}

  .bullet-list
    ul.bullet-list__wrapper  
      each item in options.items 
        li.bullet-list__item= item