.text-field {
  @include flex-column();
  max-width: 320px;
  &__input {
    display: inline-block;
    padding: 1.3rem 1.5rem;
    @include set-size(100%, 4.4rem);
    @include set-border($borderColor: $darkShade25, $borderRadius: 0.4rem);
    @include set-font(1.4rem, 400, 1.8rem, $darkShade100, inherit);
    outline: none;
    letter-spacing: -0.02rem;

    &::placeholder {
      color: $darkShade25;
    }

    &:hover, &:focus, &:active, &_active {
      border-color: $darkShade75;

      &::placeholder {
        color: $darkShade75;
      }

    }

    &_padding-right {
      &_big {
        padding-right: 4.4rem;
      }
    }
    &-container {
      position: relative;
      display: inline-block;
      width: 100%;
      cursor: pointer;
    }

    &-icon {
      position: absolute;
      top: 0;
      right: 0;
      @include set-size(4.4rem);
      @include flex-center();
      @include set-font(2.4rem, 400, 2.4rem, $darkShade50, "Material Icons", 'icons');

      &_gradient {
        background-image: $primaryGradient;
        background-clip: text;
        color: transparent;
      }
    }
  }

  &__label {
    @include set-flex($mainAxis: space-between, $gap: 1rem);
    margin-bottom: 0.5rem;
    @include label-cta-text();
    text-transform: uppercase;
    cursor: pointer;
  }

  &__state {
    font-weight: 400;
    color: $darkShade50;
    letter-spacing: -0.02rem;
  }
}