.text-field {
  @include flex-column($gap: 0.5rem);
  width: 100%;
  max-width: 320px;
  &__input {
    display: inline-block;
    padding: 1.3rem 1.5rem;
    @include set-size(100%, 4.4rem);
    @include set-border($borderColor: $darkShade25, $borderRadius: 0.4rem);
    @include set-font(1.4rem, 400, 1.8rem, $darkShade100, inherit);
    outline: none;
    letter-spacing: -0.02rem;

    &::placeholder {
      color: $darkShade25;
    }

    &:hover, &:focus, &:active, &_active {
      border-color: $darkShade75;

      &::placeholder {
        color: $darkShade75;
      }

    }

  }

  &__label {
    position: relative;
    width: 100%;
    @include label-cta-text();
    text-transform: uppercase;
    cursor: pointer;
  }

  &__state {
    position: absolute;
    right: 0;
    font-weight: 400;
    color: $darkShade50;
    letter-spacing: -0.02rem;
  }
}