//-
  label - label for text field
  state - text, that marks the state of the input
  type - input's type
  name - input's name
  value - input's value
  placegolder - input's placeholder
  required - defines, whether text filed's input is required or not
  disabled - defines, whether text field's input diabled or not
  mask - defines the value of data-mask attribute

mixin text-field(options)
  if !options
    - options = {}

  - const {label, state, btn: {icon, color, btnType = "button"} = {}, isActive, type = "text", name, value, placeholder, isRequired, isDisabled, mask} = options

  .text-field
    label.text-field__container
      if label 
        span.text-field__label= label 
          if state 
            span.text-field__state= state
      span.text-field__input-container
        input.text-field__input(
          class = isActive ? "text-field__input_active" : "",
          class = btn ? "text-field__input_padding-right_big" : "",
          type = type, 
          name = name, 
          value = value,
          placeholder = placeholder, 
          required = isRequired,
          disabled = isDisabled,
          spellcheck = "false",
          data-mask = mask
        )
        if btn !== {}
          button.text-field__button(class = (color === "gradient") ? "text-field__button_gradient" : "", type = btnType)= icon
