//-
  options.label - label for text field
  options.state - text, that marks the state of the input
  options.type - input's type
  options.name - input's name
  options.placegolder - input's placeholder
  options.required - defines, whether text filed is required or not
  options.mask - defines the value of data-mask attribute

mixin text-field(options)
  if !options
    - options = {}

  label.text-field
    if options.label 
      span.text-field__label= options.label 
        if options.state 
          span.text-field__state= options.state
    input.text-field__input(
      class = options.isActive ? "text-field__input_active" : "",
      type = options.type ? options.type : "text", 
      name = options.name, 
      placeholder = options.placeholder, 
      required = options.required
      data-mask = options.mask ? options.mask : false
    )