//-
  options.name - name attribute for radio's input
  options.checked - defines, whether radio is checked or not
  options.label - label for radio

mixin radio-button(options)
  if !options
    - options = {}

  label.radio-button
    input.radio-button__input(type = "radio", name = options.name, checked = options.checked)
    span.radio-button__label= options.label