//-
  name - name attribute for radio's input
  checked - defines, whether radio is checked or not
  label - label for radio

mixin radio-button(options)
  if !options
    - options = {}

  - const {label, name, isChecked} = options

  label.radio-button
    input.radio-button__input(type = "radio", name = name, checked = isChecked)
    span.radio-button__label= label