@import '../../scss/fonts';
@import '../../scss/variables';
@import '../../scss/mixins';

.document-login-page {
  font-size: 62.5%;
  color: $darkShade75;
  font-family: sans-serif;
  background-color: #fff;
}

* {
  box-sizing: border-box;
}

.page-login {
  margin: 0;
  @include set-font(1.4rem, 400, 2.4rem, $darkShade75, Montserrat);
  min-height: 100%;
  background-color: hsl(0, 0%, 90%);

  &__container {
    width: 80%;
    max-width: 1160px;
    margin: 0 auto;
  }

  &__header {
    position: fixed;
    width: 100%;
    z-index: 100;
  }

  .main-content {
    padding: 27.2rem 0 17.2rem;
    background: url("./img/login-bg.jpg") center center/cover no-repeat;

    &__login-panel {
      @include flex-center();
    }
  }
}

@media(max-width: 768px) {
  .document-login-page {
    font-size: 57%;
  }

  .page-login {
    &__container {
      width: 95%;
    }
  }
}

@media(max-width: 375px) {
  .document-login-page {
    font-size: 53%;
  }
}

@import '../../templates/components/h1-title/h1-title';
@import '../../templates/components/h2-subtitle/h2-subtitle';
@import '../../templates/components/h3-label-cta-text/h3-label-cta-text';
@import '../../templates/components/colors-item/colors-item';
@import '../../templates/components/type-item/type-item';
@import '../../templates/components/checkbox/checkbox';
@import '../../templates/components/radio-button/radio-button';
@import '../../templates/components/toggle/toggle';
@import '../../templates/components/main-button/main-button';
@import '../../templates/components/bullet-list/bullet-list';
@import '../../templates/components/text-field/text-field';
@import '../../templates/components/subscription-field/subscription-field';
@import '../..//templates/components/like-button/like-button';
@import '../../templates/components/feed/feed';
@import '../../templates/components/room-features-item/room-features-item';
@import '../../templates/components/expandable-checkbox-list/expandable-checkbox-list';
@import '../../templates/components/rate-button/rate-button';
@import '../../templates/components/range-slider/range-slider';
@import '../../templates/components/pagination/pagination';
@import '../../templates/components/dropdown/dropdown';
@import '../../templates/components/calendar/calendar';
@import '../../templates/components/datepicker-block/datepicker-block';
@import '../../templates/components/search-panel/search-panel';
@import '../../templates/components/registration-panel/registration-panel';
@import '../../templates/components/login-panel/login-panel';
@import '../../templates/components/reservation-panel/reservation-panel';
@import '../../templates/components/room-card/room-card';
@import '../../templates/components/header/header';
@import '../../templates/components/footer/footer';