include ../h1-title/h1-title
include ../text-field/text-field
include ../main-button/main-button

mixin login-panel(options) 
  if !options
    - options = {}

  - const {action, title} = options

  .login-panel
    .login-panel__title
      +h1-title(title)
    form.login-panel__form.js-validate(action = action)
      .login-panel__user-login-info
        +text-field({
          type: "email",
          name: "userEmail",
          placeholder: {text: "Email"},
        })
        +text-field({
          type: "password",
          name: "userPassword",
           placeholder: {text: "Пароль"},
        })
      .login-panel__button 
        +main-button({
          isBig: true,
          type: "submit",
          style: "filled",
          hasArrow: true,
          text: 'войти'
        })
    .login-panel__registration
      = "Нет аккаунта на Toxin?"
      a.login-panel__registration-link(href="./registration.html")
        +main-button({
          style: "outlined",
          text: "создать"
        })
