extends ../../templates/layouts/layout-main 

block variables 
  -
    let docClasses = "document-ui-kit",
        language = "ru",
        keywords = "ui-kit, colors-type, form-elements, cards, headers-footers",
        description = "Ui-Kit page, conataining main components and strctural elements of the website",
        docTitle = "Ui-Kit",
        bodyClasses = "page-ui-kit"
    
block includes
  include ../../templates/components/h1-title/h1-title
  include ../../templates/components/h2-subtitle/h2-subtitle
  include ../../templates/components/h3-label-cta-text/h3-label-cta-text
  include ../../templates/components/colors-item/colors-item
  include ../../templates/components/type-item/type-item
  include ../../templates/components/checkbox/checkbox
  include ../../templates/components/radio-button/radio-button
  include ../../templates/components/toggle/toggle
  include ../../templates/components/main-button/main-button
  include ../../templates/components/bullet-list/bullet-list

block content
  section.colors-type
    .page-ui-kit__container
      .colors-type__content
        .colors-type__logo
          img.colors-type__image(src = "../../icons/toxin-uikit-logo.svg")
        .colors-type__colors-group
          +colors-item({
            color: "darkshade_100",
            name: "dark shade 100%",
            code: "#1f2041"
          })
          +colors-item({
            color: "darkshade_75",
            name: "dark shade 75%",
            code: "#1f2041"
          }) 
          +colors-item({
            color: "darkshade_50",
            name: "dark shade 50%",
            code: "#1f2041"
          }) 
          +colors-item({
            color: "darkshade_25",
            name: "dark shade 25%",
            code: "#1f2041"
          })           
          +colors-item({
            color: "darkshade_5",
            name: "dark shade 5%",
            code: "#1f2041"
          }) 
          +colors-item({
            color: "purple",
            name: "purple",
            code: "#bc9cff"
          }) 
          +colors-item({
            color: "green",
            name: "green",
            code: "#6fcf97"
          }) 
        .colors-type__type-group
          +type-item({
            tag: "h1",
            descr: "this one is the sub-section or <br> widget title"
          })
          +type-item({
            tag: "h2",
            descr: "next one is the item title inside <br> widgets"
          }) 
          +type-item({
            tag: "h3",
            descr: "this is a label or cta text",
            uppercase: true
          }) 
          +type-item({
            tag: "body",
            descr: "This is the body text which is used for most <br> of the design, like paragraphs, lists, etc."
          })
  section.form-elements
    .page-ui-kit__container
      .form-elements__content
        .form-elements__logo
          img.colors-type__image(src = "../../icons/toxin-uikit-logo.svg")
        .form-elements__checkbox-buttons
          .form-elements__checkbox-buttons-title 
            +h3-label-cta-text("checkbox buttons")
          .form-elements__checkbox-buttons-content
            +checkbox({
              label: "можно курить",
              name: "permissions",
              checked: true
            })
            +checkbox({
              label: "можно с питомцами",
              name: "permissions",
              checked: true
            })
            +checkbox({
              label: "можно пригласить гостей (до 10 человек)",
              name: "permissions",
              checked: true
            })
        .form-elements__rich-checkbox-buttons
          .form-elements__rich-checkbox-buttons-title 
            +h3-label-cta-text("rich checkbox buttons")
          .form-elements__rich-checkbox-buttons-content
            +checkbox({
              isRich: true,
              label: "широкий коридор",
              description: "ширина коридоров в номере не менее 91 см.",
              name: "add-ins"
            })
            +checkbox({
              isRich: true,
              label: "помощник для инвалидов",
              description: "на 1 этаже вас встретит специалист  и проводит до номера.",
              name: "add-ins"
            })
        .form-elements__radio-buttons
          .form-elements__radio-buttons-title 
            +h3-label-cta-text("radio buttons")
          .form-elements__radio-buttons-content
            +radio-button({
              label: "мужчина",
              name: "gender",
              checked: true
            })
            +radio-button({
              label: "женщина",
              name: "gender"
            })
        .form-elements__toggle-buttons
          .form-elements__toggle-buttons-title 
            +h3-label-cta-text("toggle")
          .form-elements__toggle-buttons-content
            +toggle({
              label: "получать спецпредложения",
              name: "special-services",
              checked: true
            })
            +toggle({
              label: "получать спецпредложения",
              name: "special-services"
            })
        .form-elements__main-buttons 
          .form-elements__main-buttons-title 
            +h3-label-cta-text("buttons")
          .form-elements__main-buttons-content
            .form-elements__main-buttons-wrapper
              +main-button({
                style: "filled",
                text: 'click me'
              })
              +main-button({
                style: "filled",
                text: 'click me',
                isActive: true
              })
            .form-elements__main-buttons-wrapper
              +main-button({
                style: "outlined",
                text: 'click me'
              })
              +main-button({
                style: "outlined",
                text: 'click me',
                isActive: true
              })
            .form-elements__main-buttons-wrapper
              +main-button({
                style: "simple",
                text: 'click me'
              })
              +main-button({
                style: "simple",
                text: 'click me',
                isActive: true
              })
            +main-button({
              isBig: true,
              style: "filled",
              hasArrow: true,
              text: 'перейти к оплате'
            })
        .form-elements__bullet-list 
          .form-elements__bullet-list-title 
            +h3-label-cta-text("bullet list")
          .form-elements__bullet-list-content 
            +bullet-list({
              items: [
                "нельзя с питомцами",
                "без вечеринок и мероприятий",
                "Время прибытия — после 13:00, а выезд до 12:00"
              ]
            })
            