extends ../../templates/layouts/layout-main 

block variables 
  -
    let docClasses = "document-ui-kit",
        language = "ru",
        keywords = "ui-kit, colors-type, form-elements, cards, headers-footers",
        description = "Ui-Kit page, conataining main components and strctural elements of the website",
        docTitle = "Ui-Kit",
        bodyClasses = "page-ui-kit"
    
block includes
  include ../../templates/components/h1-title/h1-title
  include ../../templates/components/h2-subtitle/h2-subtitle
  include ../../templates/components/h3-label-cta-text/h3-label-cta-text
  include ../../templates/components/colors-item/colors-item
  include ../../templates/components/type-item/type-item
  include ../../templates/components/checkbox/checkbox
  include ../../templates/components/radio-button/radio-button
  include ../../templates/components/toggle/toggle
  include ../../templates/components/main-button/main-button
  include ../../templates/components/bullet-list/bullet-list
  include ../../templates/components/text-field/text-field
  include ../../templates/components/subscription-field/subscription-field
  include ../..//templates/components/like-button/like-button
  include ../../templates/components/feed/feed
  include ../../templates/components/room-features-item/room-features-item
  include ../../templates/components/expandable-checkbox-list/expandable-checkbox-list
  include ../../templates/components/rate-button/rate-button
  include ../../templates/components/range-slider/range-slider
  include ../../templates/components/pagination/pagination
  include ../../templates/components/dropdown/dropdown
  include ../../templates/components/datepicker-block/datepicker-block

block content
  section.colors-type
    .page-ui-kit__container
      .colors-type__content
        .colors-type__logo
          img.colors-type__image(src = "../../icons/toxin-uikit-logo.svg")
        .colors-type__colors-group
          +colors-item({
            color: "darkshade_100",
            name: "dark shade 100%",
            code: "#1f2041"
          })
          +colors-item({
            color: "darkshade_75",
            name: "dark shade 75%",
            code: "#1f2041"
          }) 
          +colors-item({
            color: "darkshade_50",
            name: "dark shade 50%",
            code: "#1f2041"
          }) 
          +colors-item({
            color: "darkshade_25",
            name: "dark shade 25%",
            code: "#1f2041"
          })           
          +colors-item({
            color: "darkshade_5",
            name: "dark shade 5%",
            code: "#1f2041"
          }) 
          +colors-item({
            color: "purple",
            name: "purple",
            code: "#bc9cff"
          }) 
          +colors-item({
            color: "green",
            name: "green",
            code: "#6fcf97"
          }) 
        .colors-type__type-group
          +type-item({
            tag: "h1",
            descr: "this one is the sub-section or <br> widget title"
          })
          +type-item({
            tag: "h2",
            descr: "next one is the item title inside <br> widgets"
          }) 
          +type-item({
            tag: "h3",
            descr: "this is a label or cta text",
            uppercase: true
          }) 
          +type-item({
            tag: "body",
            descr: "This is the body text which is used for most <br> of the design, like paragraphs, lists, etc."
          })
  section.form-elements
    .page-ui-kit__container
      .form-elements__content
        .form-elements__logo
          img.colors-type__image(src = "../../icons/toxin-uikit-logo.svg")
        .form-elements__checkbox-buttons
          .form-elements__checkbox-buttons-title 
            +h3-label-cta-text("checkbox buttons")
          .form-elements__checkbox-buttons-content
            +checkbox({
              label: "можно курить",
              name: "permissions",
              checked: true
            })
            +checkbox({
              label: "можно с питомцами",
              name: "permissions",
              checked: true
            })
            +checkbox({
              label: "можно пригласить гостей (до 10 человек)",
              name: "permissions",
              checked: true
            })
        .form-elements__rich-checkbox-buttons
          .form-elements__rich-checkbox-buttons-title 
            +h3-label-cta-text("rich checkbox buttons")
          .form-elements__rich-checkbox-buttons-content
            +checkbox({
              isRich: true,
              label: "широкий коридор",
              description: "ширина коридоров в номере <br> не менее 91 см.",
              name: "add-ins"
            })
            +checkbox({
              isRich: true,
              label: "помощник для инвалидов",
              description: "на 1 этаже вас встретит специалист <br> и проводит до номера.",
              name: "add-ins"
            })
        .form-elements__radio-buttons
          .form-elements__radio-buttons-title 
            +h3-label-cta-text("radio buttons")
          .form-elements__radio-buttons-content
            +radio-button({
              label: "мужчина",
              name: "gender",
              checked: true
            })
            +radio-button({
              label: "женщина",
              name: "gender"
            })
        .form-elements__toggle-buttons
          .form-elements__toggle-buttons-title 
            +h3-label-cta-text("toggle")
          .form-elements__toggle-buttons-content
            +toggle({
              label: "получать спецпредложения",
              name: "special-services",
              checked: true
            })
            +toggle({
              label: "получать спецпредложения",
              name: "special-services"
            })
        .form-elements__main-buttons 
          .form-elements__main-buttons-title 
            +h3-label-cta-text("buttons")
          .form-elements__main-buttons-content
            .form-elements__main-buttons-wrapper
              +main-button({
                style: "filled",
                text: 'click me'
              })
              +main-button({
                style: "filled",
                text: 'click me',
                isActive: true
              })
            .form-elements__main-buttons-wrapper
              +main-button({
                style: "outlined",
                text: 'click me'
              })
              +main-button({
                style: "outlined",
                text: 'click me',
                isActive: true
              })
            .form-elements__main-buttons-wrapper
              +main-button({
                style: "simple",
                text: 'click me'
              })
              +main-button({
                style: "simple",
                text: 'click me',
                isActive: true
              })
            +main-button({
              isBig: true,
              style: "filled",
              hasArrow: true,
              text: 'перейти к оплате'
            })
        .form-elements__bullet-list 
          .form-elements__bullet-list-title 
            +h3-label-cta-text("bullet list")
          .form-elements__bullet-list-content 
            +bullet-list({
              items: [
                "нельзя с питомцами",
                "без вечеринок и мероприятий",
                "Время прибытия — после 13:00, а выезд до 12:00"
              ]
            })
        .form-elements__text-fields 
          .form-elements__text-fields-top 
            +text-field({
              label: "text field",
              state: "default",
              name: "field",
              type: "email",
              placeholder: {
                text: "Email"
              },
              required: false,
            })
            +text-field({
              isActive: true,
              label: "text field",
              state: "hover / focus",
              name: "field",
              type: "email",
              placeholder: {
                text:"This is pretty awesome"
              },
              required: false
            })
          .form-elements__text-fields-bottom
            +subscription-field({
              action: "add/link/to/server",
              field: {
                  label: "subscription text field",
                  name: "subscription",
                  placeholder: {
                    text: "Email"
                  },
              }
            })
        .form-elements__like-buttons 
          .form-elements__like-buttons-title 
            +h3-label-cta-text("like buttons")
          .form-elements__like-buttons-content
            +like-button({
              count: "2",
              borderColor: "purple",
              iconColor: "gradient",
              iconIsFilled: true,
              counterColor: "purple"
            })
            +like-button({
              isActive: true,
              count: "12",
              borderColor: "purple",
              iconColor: "gradient",
              iconIsFilled: true,
              counterColor: "purple"
            })
        .form-elements__feed 
          +feed({
            image: "../../templates/components/feed/img/profile-1.png",
            author: "мурад сарафанов",
            date: "5 дней назад",
            text: "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.",
            button: {
              isActive: true,
              count: "12",
              borderColor: "gradient",
              iconColor: "purple",
              iconIsFilled: true,
              counterColor: "purple"
            }
          })
        .form-elements__room-features 
          +room-features-item({
            icon: "insert_emoticon",
            subtitle: "комфорт",
            descr: "шумопоглощающие стены"
          })
          +room-features-item({
            icon: "location_city",
            subtitle: "удобство",
            descr: "окно в каждой из спален"
          })
        .form-elements__expandable-checkbox-list 
          +expandable-checkbox-list({
            isExpanded: false,
            selectText: "expandable checkbox list",
            items: [
              {name: "includes", checked: false, label: "Завтрак"},
              {name: "includes", checked: true, label: "Письменный стол"},
              {name: "includes", checked: true, label: "Стул для кормления"},
              {name: "includes", checked: true, label: "Кроватка"},
              {name: "includes", checked: false, label: "Телевизор"},
              {name: "includes", checked: false, label: "Шампунь"}
            ]
          })
        .form-elements__rate-buttons
          .form-elements__rate-buttons-title 
            +h3-label-cta-text("rate button")
          .form-elements__rate-buttons-content
            +rate-button({
              action: "add/link/to/server",
              starsAmount: "5",
              radioName: "rating",
              rating: "4"
            })
            +rate-button({
              action: "add/link/to/server",
              starsAmount: "5",
              radioName: "rating",
              rating: "5"
            })
        .form-elements__range-slider 
          +range-slider({
            subtitle: "range slider",
            name: "price",
            min: "0",
            max: "16000",
            start: "5000",
            end: "10000"
          })
        .form-elements__pagination
          .form-elements__pagination-title 
            +h3-label-cta-text("pagination")
          .form-elements__pagination-content 
            +pagination({
              pages: 15,
              activePage: 1,
              infoText: "1 – 12 из 100+ вариантов аренды"
            })
        .form-elements__dropdown 
          +dropdown({
            contentName: "rooms",
            field: {
              isRequired: true,
              label: "dropdown",
              state: "default",
              value: "2 спальни, 2 кровати...",
              placeholder: "Конфигурация номера...",
              isEachBorderRounded: false
            },
            menuItems: [
              {subject: "bedrooms", subtitle: "спальни", count: "2"},
              {subject: "beds", subtitle: "кровати", count: "2"},
              {subject: "bathrooms", subtitle: "ванные комнаты", count: "0"}
            ]
          })
          +dropdown({
            isExpanded: true,
            contentName: "rooms",
            field: {
              isRequired: true,
              label: "dropdown",
              state: "expanded",
              value: "2 спальни, 2 кровати...",
              placeholder: "Конфигурация номера...",
              isEachBorderRounded: false
            },
            menuItems: [
              {subject: "bedrooms", subtitle: "спальни", count: "2"},
              {subject: "beds", subtitle: "кровати", count: "2"},
              {subject: "bathrooms", subtitle: "ванные комнаты", count: "0"}
            ]
          })
          +dropdown({
            isBig: true,
            contentName: "guests",
            field: {
              isRequired: true,
              label: "dropdown",
              state: "default",
              placeholder: "Сколько гостей"
            },
            menuItems: [
              {subject: "adults", subtitle: "взрослые", count: "0"},
              {subject: "children", subtitle: "дети", count: "0"},
              {subject: "infants", subtitle: "младенцы", count: "0"}
            ]
          })
          +dropdown({
            isBig: true,
            isExpanded: true,
            contentName: "guests",
            field: {
              isRequired: true,
              label: "dropdown",
              state: "expanded",
              value: "3 гостя",
              placeholder: "Сколько гостей"
            },
            menuItems: [
              {subject: "adults", subtitle: "взрослые", count: "2"},
              {subject: "children", subtitle: "дети", count: "1"},
              {subject: "infants", subtitle: "младенцы", count: "0"}
            ]
          })
        .form-elements__datepicker 
          +datepicker-block({
            multipleFields: true,
            initialDateRange: {start: "08.19.2019", end: "08.23.2019"},
            fields: {
              field1: {
                label: "date-dropdown",
                name: "check-date",
                placeholder: "ДД.ММ.ГГГГ"
              },
              field2: {
                label: "date-dropdown",
                name: "check-date",
                value: "19.08.2019",
                placeholder: "ДД.ММ.ГГГГ"
              }
            }
          })
          +datepicker-block({
            multipleFields: false,
            initialDateRange: {start: "08.19.2019", end: "08.23.2019"},
            fields: {
              field1: {
                label: "date filter dropdown",
                name: "check-date",
                placeholder: "ДД.ММ.ГГГГ"
              },
              field2: {
                label: "date-dropdown",
                name: "check-date-range",
                value: "19.08.2019",
                placeholder: "ДД.ММ.ГГГГ"
              }
            }
          })