extends ../../templates/layouts/layout-main 

block variables 
  -
    let docClasses = "document-ui-kit",
        language = "ru",
        keywords = "ui-kit, colors-type, form-elements, cards, headers-footers",
        description = "Ui-Kit page, conataining main components and strctural elements of the website",
        docTitle = "Ui-Kit",
        bodyClasses = "page-ui-kit"
    
block includes
  include ../../templates/components/colors-item/colors-item
  include ../../templates/components/type-item/type-item

block content
  section.colors-type
    .page-ui-kit__container
      .colors-type__content
        .colors-type__logo
          img.colors-type__image(src = "../../icons/toxin-uikit-logo.svg")
        .colors-type__colors-group
          +colors-item({
            color: "darkshade_100",
            name: "dark shade 100%",
            code: "#1f2041"
          })
          +colors-item({
            color: "darkshade_75",
            name: "dark shade 75%",
            code: "#1f2041"
          }) 
          +colors-item({
            color: "darkshade_50",
            name: "dark shade 50%",
            code: "#1f2041"
          }) 
          +colors-item({
            color: "darkshade_25",
            name: "dark shade 25%",
            code: "#1f2041"
          })           
          +colors-item({
            color: "darkshade_5",
            name: "dark shade 5%",
            code: "#1f2041"
          }) 
          +colors-item({
            color: "purple",
            name: "purple",
            code: "#bc9cff"
          }) 
          +colors-item({
            color: "green",
            name: "green",
            code: "#6fcf97"
          }) 
        .colors-type__type-group
          +type-item({
            tag: "h1",
            descr: "this one is the sub-section or <br> widget title"
          })
          +type-item({
            tag: "h2",
            descr: "next one is the item title inside <br> widgets"
          }) 
          +type-item({
            tag: "h3",
            descr: "this is a label or cta text",
            uppercase: true
          }) 
          +type-item({
            tag: "body",
            descr: "This is the body text which is used for most <br> of the design, like paragraphs, lists, etc."
          })
  section.form-elements
    .page-ui-kit__container
      .form-elements__content
        .form-elements__logo
          img.colors-type__image(src = "../../icons/toxin-uikit-logo.svg")
          