@import '../../scss/fonts';
@import '../../scss/variables';
@import '../../scss/mixins';

.document-ui-kit {
  font-size: 62.5%;
  color: $darkShade75;
  font-family: sans-serif;
  background-color: #fff;
}

* {
  box-sizing: border-box;
}

.page-ui-kit {
  margin: 0;
  @include set-font(1.4rem, 400, 2.4rem, $darkShade75, Montserrat);
  min-height: 100%;

  &__container {
    width: 80%;
    max-width: 1160px;
    margin: 0 auto;
  }
}

.colors-type {
    padding: 14.5rem 0;

  &__content {
    position: relative;
    padding-left: 1rem;
    padding-right: 1.8rem;
    @include set-flex($mainAxis: space-between);
  }

  &__logo {
    position: absolute;
    top: -11.5rem;
    left: -11rem;
    @include set-size(4.8rem);
  }

  &__image {
    @include set-size(100%);
  }

  &__colors-group {
    @include flex-column($gap: 2rem);
  }

  &__type-group {
    @include flex-column($gap: 5.1rem);
  }
}

.form-elements {
  padding-top: 14.3rem;
  padding-bottom: 13.1rem;

  &__content {
    position: relative;
    @include set-flex($mainAxis: space-between, $flexWrap: wrap);
  }

  &__logo {
    position: absolute;
    top: -11.5rem;
    left: -11rem;
    @include set-size(4.8rem);
  }

  &__checkbox-buttons,
  &__rich-checkbox-buttons {
    &-title {
      margin-bottom: 1.6rem;
    }
    &-content {
      @include flex-column($gap: 1rem);
    }
  }
  
  &__radio-buttons {
    &-title {
      margin-bottom: 1.6rem;
    }
    &-content {
      @include set-flex($crossAxis: center, $gap: 2rem, $flexWrap: wrap);
    }
  }

  &__toggle-buttons {
    &-title {
      margin-bottom: 1.6rem;
    }
    &-content {
      @include flex-column($gap: 1.4rem);
    }
  }

  &__main-buttons {
    width: 33%;
    &-title {
      margin-bottom: 1.6rem;
    }
    &-content {
      @include flex-column($gap: 3rem);
    }
    &-wrapper {
      @include set-flex($crossAxis: center, $gap: 2rem);
    }
  }

  &__bullet-list {
    &-title {
      margin-bottom: 1.6rem;
    }
  }

  &__text-fields {
    width: 33%;
    &-top {
      @include flex-column($gap: 2rem);
      margin-bottom: 4rem;
    }
  }

  &__like-buttons {
    &-title {
      margin-bottom: 1.6rem;
    }
    &-content {
      @include set-flex($gap: 1rem, $flexWrap: wrap);
    }
  }
}

@import '../../templates/components/h1-title/h1-title';
@import '../../templates/components/h2-subtitle/h2-subtitle';
@import '../../templates/components/h3-label-cta-text/h3-label-cta-text';
@import '../../templates/components/colors-item/colors-item';
@import '../../templates/components/type-item/type-item';
@import '../../templates/components/checkbox/checkbox';
@import '../../templates/components/radio-button/radio-button';
@import '../../templates/components/toggle/toggle';
@import '../../templates/components/main-button/main-button';
@import '../../templates/components/bullet-list/bullet-list';
@import '../../templates/components/text-field/text-field';
@import '../../templates/components/subscription-field/subscription-field';
@import '../..//templates/components/like-button/like-button';
