//-
  name - name attribute for toggle's input
  checked - defines, whether toggle input is checked or not
  label - label for toggle

mixin toggle(options)
  if !options
    - options = {}

  - const {label, name, checked} = options

  label.toggle
      input.toggle__input(type = "checkbox", name = name, checked = checked)
      span.toggle__label= label