//-
  options.name - name attribute for toggle's input
  options.checked - defines, whether toggle input is checked or not
  options.label - label for toggle

mixin toggle(options)
  if !options
    - options = {}

  label.toggle
      input.toggle__input(type = "checkbox", name = options.name, checked = options.checked)
      span.toggle__label= options.label