//-
  count - amount of likes
  borderColor - color of button's border
  iconColor - icon's color
  isIconFilled - defines, whether button's icon is filled of not
  counterColor = color of button's counter area text
  isActive - defines, whether button is active or not 

mixin like-button(options)
  if !options
    - options = {}

  - 
    const {count, borderColor, iconColor, isIconFilled, counterColor, isActive} = options
          btnClasses = [],
          iconClasses = [],
          counterClasses = []

  if isActive 
    - btnClasses.push(borderColor ? `like-button_${borderColor}` : "")
    - iconClasses.push(isIconFilled ? "like-button__icon_filled" : "")
    - iconClasses.push(iconColor ? `like-button__icon_${iconColor}` : "")
    - counterClasses.push(counterColor ? `like-button__counter_${counterColor}` : "")


  button.like-button(
    class = btnClasses,
    data-active = isActive ? "true" : "false",
    data-border-color = borderColor,
    data-icon-color = iconColor,
    data-counter-color = counterColor,
    data-count = count
  )
    span.like-button__inner
      span.like-button__icon(
        class = iconClasses,
        data-icon-color = iconColor
      ) 
      span.like-button__counter(
        class = counterClasses,
        class = (count < 10) ? "like-button__counter_with_padding" : "",
      )= count