extends ../../templates/layouts/layout-main 

block variables 
  -
    let docClasses = "document-uikit",
        language = "ru",
        keywords = "ui-kit, colors-type, form-elements, cards, headers-footers",
        description = "Ui-Kit page, conataining main components and strctural elements of the website",
        docTitle = "Ui-Kit",
        bodyClasses = "page-uikit"
    
block includes 

block content 
