.footer {
  background-color: #fff;
  padding: 10rem 0 2.3rem 0;
  border-top: 1px solid hsl(0, 0%, 90%);

  &__container {
    width: 80.5%;
    max-width: 1920px;
    margin: 0 auto;
  }

  &__main {
    padding-bottom: 10rem;
    border-bottom: 1px solid hsl(0, 0%, 90%);

    &-content {
      @include set-flex($mainAxis: space-between, $crossAxis: flex-start, $flexWrap: wrap);
      row-gap: 4rem;
    }
  }

  &__company {
    &-logo {
      max-width: 100%;
      line-height: 0;
      cursor: pointer;

      &-link {
        display: inline-block;
        outline: none;
        border: none;
        text-decoration: none;
      }
      
      &-image {
        display: inline-block;
        @include set-size(100%);
      }
    }

    &-description {
      margin-top: 1.7rem;
      max-width: 260px;
    }
  }

  &__subtitle {
    margin: 0.4rem 0 2rem 0;
    @include label-cta-text();
    text-transform: uppercase;
  }

  &__menu {
    @include set-flex($mainAxis: space-between, $crossAxis: flex-start, $flexWrap: wrap);
    max-width: 800px;
    flex: 3;
    padding: 0 5.1rem 0 4rem;
    
    &-section {
      min-width: 15rem;
    }
    
    &-list {
      list-style: none;
      margin: 0;
      padding-left: 0;
      @include flex-column($gap: 2rem);

      &-item {
        line-height: 1.8rem;
        color: $darkShade50;
      }

      &-link {
        display: inline-block;
        outline: none;
        border: none;
        text-decoration: none;
        @include sentence-case();
        cursor: pointer;

        &:hover, &:focus, &:active {
          color: $darkShade75;
        }
      }
    }
  }

  &__subscription {
    &-text {
      max-width: 260px;
      margin-bottom: 2rem;
    }
  }

  &__secondary {
    padding-top: 2.3rem;

    &-content {
      @include set-flex($mainAxis: space-between, $crossAxis: center, $gap: 1rem);
    }
  }

  &__socials {
    @include set-flex($crossAxis: center, $gap: 2.1rem);

    &-link {
      display: inline-block;
      outline: none;
      border: none;
      text-decoration: none;
      background-clip: text;
      background-image: $primaryGradient;
      cursor: pointer;

      &::before {
        @include set-font(2.4rem, 400, 2.4rem, transparent, "Font Awesome Brands", 'icons');
      }

      &:hover, &:focus, &:active {
        background-image: $secondaryGradient;
      }
    }
  }
}

@media(max-width: 1439px) {
  .footer {
    &__company {
      order: 2;
    }
    
    &__menu {
      order: 2;
      padding-right: 0;
      padding-left: 1.5rem;
    }

    &__subscription {
      order: 1;
      flex-basis: 100%;
      text-align: center;
      &-text {
        max-width: 100%;
        margin-bottom: 2rem;
      }
    }
  }
}

@media(max-width: 1200px) {
  .footer {
    &__container {
      width: 95%;
    }
  }
}

@media(max-width: 1023px) {
  .footer {
    padding-top: 12rem;
    padding-bottom: 12rem;
    border-top: none;

    &__main {
      padding-bottom: 0;
      border-bottom: none;

      &-content {
        justify-content: center;
      }
    }

    &__company {
      line-height: 0;
      flex-grow: 0;
      
      &-logo {
        margin: 0 auto;
      }

      &-description {
        display: none;
      }
    }

    &__menu, &__subscription {
      display: none;
    }

    &__secondary {
      padding-top: 2rem;
      
      &-content {
        @include flex-column($gap: 1.9rem);
        text-align: center;
      }
    }
  }
}

