include ../checkbox/checkbox 

//-
  selectText - text for list's select field
  isExpanded - deifnes, whether list is expanded or not
  items - array with checkbox items

mixin expandable-checkbox-list(options)
  if !options
    - options = {}

  - const {selectText, isExpanded, items} = options

  .expandable-checkbox-list()
    .expandable-checkbox-list__select= selectText
      .expandable-checkbox-list__icon(class = isExpanded ? "expandable-checkbox-list__icon_inverted" : "") 
    .expandable-checkbox-list__content
      ul.expandable-checkbox-list__items 
        each item in items
          li.expandable-checkbox-list__item
            +checkbox({
              label: item.label,
              name: item.name,
              checked: item.checked
            })