.datepicker-block {
  width: 100%;
  max-width: 320px;

  &__fields {
    margin-bottom: 0.55rem;
    width: 100%;
    @include set-flex($mainAxis: space-between, $crossAxis: flex-start, $gap: 2rem);
  }

  &__field {
    flex: 1;
  }

  &__calendar {
    position: relative;
    width: 100%;
    z-index: 1;
    opacity: 1;
    transition: all 0.5s;

    &-wrapper {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      @include set-flex($mainAxis: center);
    }

    &_hidden {
      top: 0;
      z-index: -1;
      opacity: 0;
    }
  }
}


@import "../text-field/text-field";
@import "../calendar/calendar";