include ../text-field/text-field
include ../calendar/calendar

mixin datepicker-block(options)
  if !options
    - options = {}

  - 
    const {
      isCalendarHidden,
      hasMultipleFields, 
      fields: {field1, field2},
      calendar : {
        renderCalendarDate,
        currentDate,
        initialSelectedDates = {}
      } = {}
    } = options

  .datepicker-block(
      data-datepicker-type = hasMultipleFields ? "multiple-fields" : "single-field",
    )
    .datepicker-block__fields
      if hasMultipleFields
        .datepicker-block__field(data-input = "start")
          +text-field({
            isActive: field1.isActive,
            btn: {icon: "expand_more"},
            label: field1.label,
            state: field1.state,
            name: field1.name,
            value: field1.value,
            placeholder: {
              text: field1.placeholder,
              isDark: true
            },
            isRequired: field1.isRequired,
            isDisabled: field1.isDisabled,
            mask: "date"
          })
        .datepicker-block__field(data-input = "end")
          +text-field({
            isActive: field2.isActive,
            btn: {icon: "expand_more"},
            label: field2.label,
            state: field2.state,
            name: field2.name,
            value: field2.value,
            placeholder: {
              text: field2.placeholder,
              isDark: true
            },
            isRequired: field2.isRequired,
            isDisabled: field2.isDisabled,
            mask: "date"
          })
      else 
        .datepicker-block__field.datepicker-block__field_big
          +text-field({
            isActive: field1.isActive,
            btn: {icon: "expand_more"},
            label: field1.label,
            state: field1.state,
            name: field1.name,
            value: field1.value,
            placeholder: {
              text: field1.placeholder,
              isDark: true
            },
            isRequired: field1.isRequired,
            isDisabled: field1.isDisabled,
            mask: "date"
          })
    .datepicker-block__calendar(class = isCalendarHidden ? "datepicker-block__calendar_hidden" : "")
      .datepicker-block__calendar-wrapper
        +calendar({
          renderCalendarDate: renderCalendarDate,
          currentDate: currentDate,
          initialSelectedDates: initialSelectedDates
        })