include ../main-button/main-button

//-
  renderCalendarDate - date, which will be shown after calendar first render
  currentDate - today's date (created mainly for setting current date on ui-kit's celendar)
  initialSelectedDates - date range, that will be selected after first claendar render (created mainly for setting date range on ui-kit's calendar)

mixin calendar(options)
  if !options
    - options = {}

  - const {renderCalendarDate, currentDate, initialSelectedDates = {}} = options

  .calendar(
    data-render-date = renderCalendarDate,
    data-current = currentDate, 
    data-initial-start = initialSelectedDates.start,
    data-initial-end = initialSelectedDates.end
  )
    .calendar__container 
      .calendar__content
      .calendar__buttons
        .calendar__button(data-action = "clear")
          +main-button({style: "simple", text: "очистить"})
        .calendar__button(data-action = "apply")
          +main-button({style: "simple", text: "применить"})

