include ../main-button/main-button

mixin calendar(options)
  if !options
    - options = {}

  - const {renderCalendarDate, currentDate, initialSelectedDates = {}} = options

  .calendar(
    data-render-date = renderCalendarDate,
    data-current = currentDate, 
    data-initial-start = initialSelectedDates.start,
    data-initial-end = initialSelectedDates.end
  )
    .calendar__container 
      .calendar__content
      .calendar__buttons
        .calendar__button(data-action = "clear")
          +main-button({style: "simple", text: "очистить"})
        .calendar__button(data-action = "apply")
          +main-button({style: "simple", text: "применить"})

