.calendar {
  width: 100%;
  min-width: 320px;
  max-width: 600px;
  box-shadow: 0 1rem 2rem $darkShade5;
  background-color: #fff;
  @include set-border($borderColor: $darkShade25, $borderRadius: 0.4rem);

  &__container {
    padding: 2rem;
  }

  &__content {
    margin-bottom: 2rem;
  }

  &__error {
    margin: 1rem;
    text-align: center;
    color: $errorColor;
    font-weight: 700;
  }

  &__buttons {
    @include set-flex($mainAxis: space-between, $crossAxis: center, $gap: 1rem);
  }

  &__button {
    line-height: 1.5rem;
  }
}

.datepickers-container {
  width: 100%;
}

.datepicker {
  box-sizing: border-box;
  width: 100%;
  border: none;

  &--pointer {
    display: none;
  }

  &--nav {
    border-bottom: none;
    padding: 0;
    min-height: 0;
    @include set-flex($crossAxis: center);
    margin-bottom: 3rem;

    &-action {
      @include set-min-size(15px);
      @include set-size(2.4rem);
      @include flex-center();

      &:hover {
        background: none;
      }
    }
    
    &-button {
      border: none;
      background: none;
      outline: none;
      padding: 0;
      @include set-font(clamp(15px, 2.4rem, 50px), 400, 2.4rem, $purple, "Material Icons", 'icons');
      cursor: pointer;

      &:hover, &:focus {
        color: $darkShade50;
      }
    }

    &-title {
      @include subtitle-text();
      text-align: center;

      &:hover {
        background: none;
      }
    }
  }


  &--content {
    box-sizing: border-box;
    @include set-font(1.2rem, 400, 1.5rem, $darkShade50, "Montserrat");
    padding: 0;
  }

  &--days {
    &-names {
      margin: 0;
    }
  }

  &--day {
    &-name {
      @include set-size(4rem);
      font-weight: 700;
      text-transform: capitalize;
      color: $purple;
    }
  }

  &--cells {
    .-current- {
      border: none;
      background-image: $secondaryGradient;
      border-radius: 50%;
      font-weight: 700;
      color: #fff;
    }

    .-other-month {
      color: $darkShade25;
    }

    .-range-from- {
      position: relative;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        @include set-size(50%, 100%);
        background-image: $primaryGradient;
        opacity: 0.25;
        z-index: -1;
      }
    }

    .-in-range- {
      position: relative;
      background: none;

      &::before {
        content: '';
        position: absolute;
        inset: 0;
        background-image: $primaryGradient;
        opacity: 0.25;
      }
    }

    .-range-to- {
      position: relative;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        @include set-size(50%, 100%);
        background-image: $primaryGradient;
        opacity: 0.25;
        z-index: -1;
      }
    }

    .-selected-, .-focus- {
      background: none;
      border: none;
      background-image: $primaryGradient;
      border-radius: 50%;
      font-weight: 700;
      color: #fff;
    }

    .-selected-.-focus- {
      background: $primaryGradient;
    }

    .-selected-.-other-month- {
      background: $primaryGradient;
    }
  }

  &--cell {
    &-day {
      min-height: 40px;
    }
  }
}

@import "../main-button/main-button";
@import "air-datepicker/dist/css/datepicker.min.css";