extends ../../templates/layouts/layout-main 

block variables 
  -
    let docClasses = "document-registration-page",
        language = "ru",
        keywords = "registration page, password, name, gender, birthdate, account",
        description = "Login page, conataining registration panel",
        docTitle = "Toxin-registration",
        bodyClasses = "page-registration"
    
block includes
  include ../../templates/components/h1-title/h1-title
  include ../../templates/components/h2-subtitle/h2-subtitle
  include ../../templates/components/h3-label-cta-text/h3-label-cta-text
  include ../../templates/components/colors-item/colors-item
  include ../../templates/components/type-item/type-item
  include ../../templates/components/checkbox/checkbox
  include ../../templates/components/radio-button/radio-button
  include ../../templates/components/toggle/toggle
  include ../../templates/components/main-button/main-button
  include ../../templates/components/bullet-list/bullet-list
  include ../../templates/components/text-field/text-field
  include ../../templates/components/subscription-field/subscription-field
  include ../..//templates/components/like-button/like-button
  include ../../templates/components/feed/feed
  include ../../templates/components/room-features-item/room-features-item
  include ../../templates/components/expandable-checkbox-list/expandable-checkbox-list
  include ../../templates/components/rate-button/rate-button
  include ../../templates/components/range-slider/range-slider
  include ../../templates/components/pagination/pagination
  include ../../templates/components/dropdown/dropdown
  include ../../templates/components/calendar/calendar
  include ../../templates/components/datepicker-block/datepicker-block
  include ../../templates/components/search-panel/search-panel
  include ../../templates/components/registration-panel/registration-panel
  include ../../templates/components/login-panel/login-panel
  include ../../templates/components/reservation-panel/reservation-panel
  include ../../templates/components/room-card/room-card
  include ../../templates/components/header/header
  include ../../templates/components/footer/footer

block header 
  header.page-registration__header 
    +header({
      menuItems: [
        {type: "link", url: "add/link", text: "о нас"},
        {type: "button", url: "add/link", text: "услуги", hasArrow: true},
        {type: "link", url: "add/link", text: "вакансии"},
        {type: "link", url: "add/link", text: "новости"},
        {type: "button", url: "add/link", text: "соглашения", hasArrow: true},
      ]
    })

block content
  main.main-content
    .page-registration__container
      .main-content__wrapper
        .main-content__registration-panel 
            +registration-panel({
              action: "add/link/to/server",
              title: "регистрация аккаунта"
            }) 

block footer
  footer.page-registration__footer
    +footer({
      menu: [
        {subtitle: "навигация", listItems: ["о нас", "новости", "слажба подержки", "услуги"]},
        {subtitle: "о нас", listItems: ["о сервисе", "наша команда", "вакансии", "инвесторы"]},
        {subtitle: "служба поддержки", listItems: ["соглашения", "сообщества", "связь с нами"]}
      ],
      copyright: "Copyright © 2018 Toxin отель. Все права защищены.",
      socials: {
        twtiier: "link/to/twitter",
        facebook: "link/to/facebook",
        instagram: "link/to/instagram"
      }
    })

