include ../like-button/like-button 

//- 
  image - profile image
  author - profile name of review's author
  date - date of publication 
  button - object with settings for like-button

mixin feed(options)
  if !options
    - options = {}

  - const {image, author, date, button: {borderColor, iconColor, isIconFilled, counterColor, count, isActive}, text} = options

  .feed
    .feed__top 
      .feed__photo-wrapper 
        img.feed__photo(src = image, alt = "profile photo")
      .feed__info 
        .feed__author= author
        .feed__date= date 
    .feed__bottom 
      .feed__like-button 
        +like-button({
          count: count,
          borderColor: borderColor,
          iconColor: iconColor,
          isIconFilled: isIconFilled,
          counterColor: counterColor,
          isActive: isActive
        })
      .feed__text= text