include ../like-button/like-button 

//- 
  image - profile image
  author - profile name of review's author
  date - date of publication 
  button - like-button
  borderColor - border color for like-button
  iconColor - icon color for like-button
  iconIsFilled - defines, whether icon of like-button is filled or not
  counterColor - counter color for like-button
  counr - amount of likes 
  isActive - dfines, wthether like-button is pressed or not
  text-  review's text

mixin feed(options)
  if !options
    - options = {}

  - const {image, author, date, button: {borderColor, iconColor, iconIsFilled, counterColor, count, isActive}, text} = options

  .feed
    .feed__top 
      .feed__photo-wrapper 
        img.feed__photo(src = image, alt = "profile photo")
      .feed__info 
        .feed__author= author
        .feed__date= date 
    .feed__bottom 
      .feed__like-button 
        +like-button({
          count: count,
          borderColor: borderColor,
          iconColor: iconColor,
          iconIsFilled: iconIsFilled,
          counterColor: counterColor,
          isActive: isActive
        })
      .feed__text= text