.main-button {
  position: relative;
  outline: none;
  border: none;
  background: none;
  padding: 0;
  color: #000;
  text-transform: uppercase;
  overflow: hidden;
  @include set-font(1.2rem, 700, 1.5rem, #000, inherit);
  cursor: pointer;
  &_simple {
    color: $purple;
    &:hover, &:focus, &:active, &-active {
      color: $darkShade50;
    }
  }
  &_filled {
    padding: 1.4rem 2rem 1.5rem 2rem;
    background-origin: border-box;
    background-image: $primaryGradient;
    color: #fff;
    border-radius: 2.2rem;
    letter-spacing: -0.197px;
    &:hover, &:focus, &:active, &-active {
      opacity: 0.5;
    }
  }
  &_outlined {
    padding: 1.2rem 1.8rem 1.3rem 1.8rem;
    background-origin: border-box;
    background-image: $whiteGradient, $primaryGradient;
    background-clip: padding-box, border-box;
    @include set-border($borderWidth: 2px, $borderRadius: 2.2rem);
    color: $purple;
    letter-spacing: -0.197px;
    &:hover, &:focus, &:active, &-active {
      background-image: $whiteGradient, $primaryGradientSemiTransparent;
    }
  }
  &_big{
    width: 100%;
    max-width: 320px;
  }
  &_has-arrow {
    &::after {
      content: "\e5c8";
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      background: transparent;
      width: 4.4rem;
      @include flex-center();
      @include set-font(2.4rem, 400, 2.4rem, #fff, "Material Icons", "icons");
    }
  }
}