//-
  classes - array of classes for button modification
  isBig - defines, whether button is big or not
  isSidePaddingLarge - defines, whether left and right padding of button's inner container large or not
  type - button's type
  style - defines the style of button
  hasArrow - deifnes, whether button has arrow or not
  isActive - defines, whether button is active or not
  text - text inside button

mixin main-button(options)
  if !options
    - options = {}
  
  - 
    const {isBig, isSidePaddingLarge, type = "button", style, hasArrow, isActive, text} = options

    let classes = []

    classes.push(isBig ? "main-button_big" : "")
    classes.push((style === "outlined") ? "main-button_outlined" : "")
    classes.push((style === "filled" ) ? "main-button_filled" : "")
    classes.push((style === "simple") ? "main-button_simple" : "")
    classes.push(hasArrow ? "main-button_has_arrow" : "")

  if isActive 
    case style
      when "filled": - classes.push("main-button_filled-active")
      when "outlined": - classes.push("main-button_outlined-active")
      when "simple": - classes.push("main-button_simple-active")

  button.main-button(class = classes, type = type)
    span.main-button__inner(class = isSidePaddingLarge ? "main-button__inner_side-padding_large" : "")= text