.donut-chart {
  @include set-flex($crossAxis: flex-end, $gap: 1rem 3rem, $flexWrap: wrap);

  &__main {
    position: relative;
    @include set-size(12rem);
    flex-shrink: 0;

    &-label {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      @include flex-column();
      @include label-cta-text();
      text-transform: uppercase;
      text-align: center;
      color: $purple;
    }

    &-counter {
      @include title-text();
      color: inherit;
    }
  }

  &__content {
    @include set-size(100%);
  }

  &__unit {
    fill: none;
    stroke-width: 0.4rem;
    transform-origin: center;

    &_gradient {
      &-yellow {
        stroke: yellow;
      }
  
      &-green {
        stroke: green;
      }
  
      &-purple {
        stroke: red;
      }
  
      &-dark {
        stroke: black;
      }
    }
  }

  &__legend {
    @include flex-column();

    &-item {
      position: relative;
      padding-left: 1.5rem;
      @include sentence-case();

      &::before {
        content: '';
        position: absolute;
        top: 0.5em;
        left: 0;
        @include set-size(1rem);
        border-radius: 50%;
      }

      &_gradient {
        &-yellow {
          &::before {
            background-image: $yellowGradient;    
          }
        }
    
        &-green {
          &::before {
            background-image: $secondaryGradient;    
          }
        }
    
        &-purple {
          &::before {
            background-image: $primaryGradient;    
          }
        }
    
        &-dark {
          &::before {
            background-image: $darkGradient;    
          }
        }
      }
    }
  }
}