@import '../../scss/fonts';
@import '../../scss/variables';
@import '../../scss/mixins';

.document-index-page {
  font-size: 62.5%;
  color: $darkShade75;
  font-family: sans-serif;
  background-color: #fff;
}

* {
  box-sizing: border-box;
}

.page-index {
  margin: 0;
  min-height: 100vh;
  @include flex-column();
  @include set-font(1.4rem, 400, 2.4rem, $darkShade75, Montserrat);
  background-color: hsl(0, 0%, 90%);

  &__container {
    width: 81%;
    margin: 0 auto;
    max-width: 1920px;
  }

  &__header {
    position: fixed;
    width: 100%;
    z-index: 100;
  }

  .main-content {
    padding: 14rem 0 1.8rem;
    background: url("./img/index-bg.jpg") center center/cover no-repeat;

    &__search-panel {
      @include set-flex();
    }

    &__caption {
      max-width: 300px;
      margin-top: 32rem;
      margin-left: auto;
      text-align: right;
    }
  }

  &__footer{
    margin-top: auto;
  }
}

@media(max-width: 1200px) {
  .page-index {
    .main-content {
      &__caption {
        margin-top: 16rem;
      }
    }
  }
}

@media(max-width: 1023px) {
  .page-index {
    .main-content {
      padding-top: 12rem;

      &__search-panel {
        justify-content: center;
      }
  
      &__caption {
        margin-top: 8rem;
      }
    }
  }
}

@media(max-width: 767px) {
  .document-index-page {
    font-size: 55%;
  }

  .page-index {
    &__container {
      width: 95%;
    }
  }
}

@media(max-width: 374px) {
  .document-index-page {
    font-size: 50%;
  }
}

@import '../../templates/components/search-panel/search-panel';
@import '../../templates/components/header/header';
@import '../../templates/components/footer/footer';