extends ../../templates/layouts/layout-main 

block variables 
  -
    let docClasses = "document-index-page",
        language = "ru",
        keywords = "index page, find your room",
        description = "Landing page, conataining search form",
        docTitle = "Toxin",
        bodyClasses = "page-index"
    
block includes
  include ../../templates/components/search-panel/search-panel
  include ../../templates/components/header/header
  include ../../templates/components/footer/footer

block header 
  header.page-index__header 
    +header({
      menuItems: [
        {type: "link", url: "add/link", text: "о нас"},
        {type: "button", url: "add/link", text: "услуги", hasArrow: true},
        {type: "link", url: "add/link", text: "вакансии"},
        {type: "link", url: "add/link", text: "новости"},
        {type: "button", url: "add/link", text: "соглашения", hasArrow: true},
      ]
    })

block content
  main.main-content 
    .page-index__container
      .main-content__wrapper
        .main-content__search-panel 
            +search-panel({
              action: "add/link/to/server",
              title: "найдём номера под ваши пожелания"
            }) 
        .main-content__caption= "Лучшие номера для вашей работы, отдыха и просто вдохновения"

block footer
  footer.page-index__footer
    +footer({
      menu: [
        {subtitle: "навигация", listItems: ["о нас", "новости", "слажба подержки", "услуги"]},
        {subtitle: "о нас", listItems: ["о сервисе", "наша команда", "вакансии", "инвесторы"]},
        {subtitle: "служба поддержки", listItems: ["соглашения", "сообщества", "связь с нами"]}
      ],
      copyright: "Copyright © 2018 Toxin отель. Все права защищены.",
      socials: {
        twtiier: "link/to/twitter",
        facebook: "link/to/facebook",
        instagram: "link/to/instagram"
      }
    })

