//-
  tag - tag name
  descr - description for tag
  isDescrUppercase - defines, whether description's text is uppercase or not

mixin type-item(options)
  if !options
    - options = {}

  - const {tag, descr, isDescrUppercase} = options

  .type-item(class = tag ? `type-item_style_${tag}` : "")
    .type-item__tag= tag || "tag"
    .type-item__description(class = isDescrUppercase ? "type-item__description_case_uppercase" : "")!= descr