.dropdown {
  width: 100%;
  max-width: 266px;

  &__container {
    position: relative;
  }

  &__menu {
    position: absolute;
    z-index: 1;
    display: none;
    width: 100%;
    background-color: #fff;
    overflow: hidden;

    &-container {
      padding: 0.7rem;
      padding-left: 1.5rem;
    }

    &-items {
      list-style: none;
      padding-left: 0;
      margin: 0;
      @include flex-column($gap: 0.7rem);
    }
  }

  &__item {
    @include set-flex($mainAxis: space-between, $crossAxis: center, $gap: 1rem);

    &-subtitle, &-counter {
      @include label-cta-text();
      text-transform: uppercase;
    }

    &-counter {
      min-width: 10px;
      text-align: center;
    }

    &-calculator {
      @include set-flex($crossAxis: center, $gap: 1.1rem);
    }

    &-button-minus, &-button-plus {
      outline: none;
      background: none;
      padding: 0;
      @include set-size(3rem);
      @include set-border($borderColor: $darkShade50, $borderRadius: 50%);
      @include flex-center();
      @include set-font(1.8rem, 400, 1.8rem, $darkShade50);
      cursor: pointer;

      &:disabled {
        border-color: $darkShade25;
        color: $darkShade25;
        cursor: not-allowed;
      }

      &:focus, &:hover {
        box-shadow: 0 0 1.5rem $darkShade50;
      }
    }
  }

  &__buttons {
    margin-top: 1.9rem;
    margin-bottom: 0.6rem;
    @include set-flex($mainAxis: space-between, $gap: 1rem);
    line-height: 1.5rem;
  }

  &__button-clear {
    &_hidden {
      visibility: hidden;
    }
  }

  &_big {
    max-width: 320px;
  }

  &_expanded {
    .dropdown {
      &__input {
        border-bottom: none;
        border-radius: 0.4rem 0.4rem 0 0;
        border-color: $darkShade50;
      }

      &__menu {
        @include set-border($borderColor: $darkShade50, $borderRadius: 0 0 0.4rem 0.4rem);
      }
    }
  }
}

@import "../main-button/main-button";