.dropdown {
  width: 100%;
  max-width: 266px;

  &__wrapper {
    position: relative;
  }

  &__field {
    @include flex-column($gap: 0.5rem);
  }

  &__label {
    @include set-flex($mainAxis: space-between);
    @include label-cta-text();
    text-transform: uppercase;
  }

  &__state {
    font-weight: 400;
    color: $darkShade50;
  }

  &__input {
    position: relative;
    min-height: 4.4rem;
    @include set-border($borderColor: $darkShade25, $borderRadius: 0.4rem 0.4rem 0 0);
    cursor: pointer;

    &::after {
      content: '\e5cf';
      position: absolute;
      top: 0;
      right: 0;
      @include flex-center();
      @include set-size(4.4rem, 100%);
      @include set-font(2.4rem, 400, 2.4rem, $darkShade75, "Material Icons", "icons");
    }

    &-element {
      display: inline-block;
      @include set-size(100%);
      outline: none;
      border: none;
      padding: 1.3rem 4.4rem 1.3rem 1.5rem;
      @include set-font(1.4rem, 400, 1.4rem, $darkShade75, "Montserrat");
      cursor: pointer;


      &::placeholder {
        @include set-font(1.4rem, 400, 1.4rem, $darkShade75, "Montserrat");
      }
    }

    &_border_rounded {
      border-radius: 0.4rem;
    }
  }

  &__menu {
    position: absolute;
    z-index: 1;
    width: 100%;
    background: #fff;
    overflow: hidden;
    transition: height 0.5s;

    &-wrapper {
      padding: 0.7rem;
      padding-left: 1.5rem;
    }

    &-items {
      list-style: none;
      padding-left: 0;
      margin: 0;
      @include flex-column($gap: 0.7rem);
    }
  }

  &__item {
    @include set-flex($mainAxis: space-between, $crossAxis: center, $gap: 1rem);

    &-subtitle, &-counter {
      @include label-cta-text();
      text-transform: uppercase;
    }

    &-counter {
      min-width: 10px;
      text-align: center;
    }

    &-calculator {
      @include set-flex($crossAxis: center, $gap: 1.1rem);
    }

    &-button-minus, &-button-plus {
      outline: none;
      background: none;
      padding: 0;
      @include set-size(3rem);
      @include set-border($borderColor: $darkShade50, $borderRadius: 50%);
      @include flex-center();
      @include set-font(1.8rem, 400, 1.8rem, $darkShade50);
      cursor: pointer;

      &:disabled {
        border-color: $darkShade25;
        color: $darkShade25;
        cursor: not-allowed;
      }

      &:focus, &:hover {
        box-shadow: 0 0 1.5rem $darkShade50;
      }
    }
  }

  &__buttons {
    margin-top: 1.9rem;
    margin-bottom: 0.6rem;
    @include set-flex($mainAxis: space-between, $gap: 1rem);
    line-height: 1.5rem;
  }

  &__button-clear {
    &_hidden {
      visibility: hidden;
    }
  }

  &_big {
    max-width: 320px;
  }

  &_expanded {
    .dropdown {
      &__input {
        border-bottom: none;
        border-radius: 0.4rem 0.4rem 0 0;
        border-color: $darkShade50;
      }

      &__menu {
        @include set-border($borderColor: $darkShade50, $borderRadius: 0 0 0.4rem 0.4rem);
      }
    }
  }
}

@import "../main-button/main-button";