.dropdown {
  width: 100%;
  max-width: 266px;

  &_big {
    max-width: 320px;
  }
  
  &_expanded {
    border-color: $darkShade50;
    .dropdown__menu {
      display: block;
    }
  }

  &__field {
    display: inline-block;
    width: 100%;
  }
 
  &__label {
    @include set-flex($mainAxis: space-between, $crossAxis: center);
    @include label-cta-text();
    text-transform: uppercase;
    margin-bottom: 0.5rem;
  }

  &__state {
    font-weight: 400;
    color: $darkShade25;
  }

  &__input {
    position: relative;
    display: inline-block;
    width: 100%;
    outline: none;
    @include set-border($borderColor: $darkShade25, $borderRadius: 4px 4px 0 0);
    cursor: pointer;

    &::after {
      content: '\e5cf';
      position: absolute;
      top: 0;
      right: 0;
      @include set-size(4.4rem, 100%);
      @include flex-center();
      @include set-font(2.4rem, 400, 2.4rem, $darkShade75, "Material Icons", 'icons');
    }

    &-element {
      position: relative;
      display: inline-block;
      width: 100%;
      outline: none;
      border: none;
      background: none;
      padding: 1.3rem 4.4rem 1.3rem 1.5rem;
      @include set-font(1.4rem, 400, 1.8rem, $darkShade75);
      z-index: -1;
      
      &::placeholder {
        @include set-font(1.4rem 400, 1.8rem, $darkShade75);
      }

      &_border {
        &_rounded {
          border-radius: 4px;
        }
      }
    }
  }

  &__menu {
    display: none;
    @include set-border($borderColor: $darkShade25, $borderRadius: 0 0 4px 4px);
    border-top: none;
    padding: 0.7rem 0.7rem 0.8rem 1.5rem;
    overflow: hidden;
  }

  &__items {
    @include flex-column($gap: 0.7rem);
  }

  &__item {
    @include set-flex($mainAxis: space-between, $crossAxis: center, $gap: 1rem);

    &-name {
      @include label-cta-text();
      text-transform: uppercase;
    }

    &-calculator {
      position: relative;
      @include set-flex($mainAxis: space-between, $crossAxis: center, $gap: 3.2rem);
    }

    &-minus, &-plus {
      outline: none;
      background: none;
      @include set-size(3rem);
      @include set-border($borderColor: $darkShade25, $borderRadius: 50%);
      @include set-font(1.8rem, 400, 1, $darkShade25);
      text-align: center;
      cursor: pointer;
    }

    &-counter {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      @include set-size(100%);
      @include label-cta-text();
      @include flex-center();
      z-index: -1;
    }
  }

  &__buttons {
    margin-top: 1.9rem;
    margin-bottom: 0.5rem;
    @include set-flex($mainAxis: space-between, $crossAxis: center)
  }

  &__button {
    &-clear,
    &-apply {
      line-height: 1;
      cursor: pointer;
    }

    &-clear {
      &_hidden {
        visibility: hidden;
      }
    }
  }
}

@import "../main-button/main-button";