include ../main-button/main-button
include ../text-field/text-field

//- 
  isBig - deifnes, whether dropdown is big or not
  isExpanded - defines, whether dropdown is expanded or not
  contentName - value for data-content attribute
  menuItems - array of items at dropdown menu

mixin dropdown(options)
  if !options
    - options = {}

  - const {isBig, isExpanded, contentName, field: {isActive, isEachBorderRounded, label, state, name = contentName, placeholder, value, isRequired} = {}, menuItems} = options

  .dropdown(
    class = isBig ? "dropdown_big" : "",
    class = isExpanded ? "dropdown_expanded" : "",
    data-content = contentName
  )
    .dropdown__container 
      .dropdown__field
        +text-field({
          isActive: isActive,
          btn: {icon: "expand_more"},
          isEachBorderRounded: isEachBorderRounded,
          label: label,
          state: state,
          type: "email",
          name: name,
          value: value,
          placeholder: {
            text: placeholder,
            isDark: true
          },
          isRequired: isRequired,
          isDisabled: true
        })
        .dropdown__menu 
          .dropdown__menu-container
            ul.dropdown__menu-items
              - let totalCount = 0
              each item in menuItems 
                - totalCount += +item.count
                li.dropdown__item(data-subject = item.subject, data-count = item.count)
                  .dropdown__item-subtitle= item.subtitle 
                  .dropdown__item-calculator 
                    button.dropdown__item-button-minus(disabled = +item.count < 1 ? true : false, type = "button")= "-"
                    span.dropdown__item-counter= item.count
                    button.dropdown__item-button-plus(disabled = +item.count > 4 ? true : false, type = "button")= "+"
            if isBig 
              .dropdown__buttons 
                .dropdown__button-clear(class = (totalCount === 0) ? "dropdown__button-clear_hidden" : "")
                  +main-button({style: "simple", text: "очистить"})
                .dropdown__button-apply
                  +main-button({style: "simple", text: "применить"})