.range-slider {
  width: 100%;
  max-width: 266px;

  &__header {
    @include set-flex($mainAxis: space-between, $crossAxis: center);
    margin-bottom: 2.35rem;
  }

  &__body {
    position: relative;
  }

  &__subtitle {
    @include label-cta-text();
    text-transform: uppercase;
  }

  &__value {
    @include set-font(1.2rem, 400, 1.5rem, $darkShade50, Montserrat);
    text-transform: uppercase;
  }

  &__input {
    display: none;
  }

  .irs {
    &--round {
      height: auto;
    }
    &-line {
      top: 0;
      min-height: 0.6rem;
      @include set-border($borderColor: $darkShade25, $borderRadius: 0.3rem);
      background: transparent;
    }
    &-bar {
      top: 0;
      min-height: 0.6rem;
      background-image: $secondaryGradient;
    }
    &-handle {
      @include set-size(1.4rem);
      @include set-border(2px, solid, #fff, 50%);
      top: -0.5rem;
      background-image: $secondaryGradient;
      z-index: 0;
      cursor: pointer;
    }
  }
}

@import 'ion-rangeslider/css/ion.rangeSlider.min.css';