//-
  subtitle - subtitle text 
  name - name attribute for input field
  min - min value for slider
  max - max vlaue for slider
  start - start value for slider after page load
  end - end value for slider after page load

mixin range-slider(options)
  if !options
    - options = {}

  - const {subtitle, name, min, max, start, end} = options

  .range-slider(data-min = min, data-max = max, data-start = start, data-end = end)
    .range-slider__header 
      .range-slider__subtitle= subtitle
      .range-slider__value
    label.range-slider__body
      input.range-slider__input(type = "text", name = name, value = `${start}ла  - ${end}ла`)