@import '../../scss/fonts';
@import '../../scss/variables';
@import '../../scss/mixins';

.document-room-page {
  font-size: 62.5%;
  color: $darkShade75;
  font-family: sans-serif;
  background-color: #fff;
}

* {
  box-sizing: border-box;
}

.page-room {
  margin: 0;
  @include set-font(1.4rem, 400, 2.4rem, $darkShade75, Montserrat);
  min-height: 100%;
  background-color: hsl(0, 0%, 100%);

  &__container {
    width: 80%;
    max-width: 1920px;
    margin: 0 auto;
  }

  &__header {
    position: fixed;
    width: 100%;
    z-index: 100;
  }

  .main-content {
    padding: 7rem 0;
    
    &__photos {
      margin-bottom: 7rem;
      height: 48.5rem;
      @include set-flex();

      &-main {
        @include set-size(68%, 100%);
      }

      &-secondary {
        @include set-size(32%, 100%);
        @include set-flex($flexWrap: wrap);
      }
    }

    &__photo {
      @include set-size(100%, 50%);

      &-image {
        display: inline-block;
        @include set-size(100%);
      }
    
      &_big {
        height: 100%;
      }
    }

    &__wrapper {
      @include set-flex($mainAxis: space-between, $flexWrap: wrap);
    }

    &__info {
      width: 63%;
      @include set-flex($flexWrap: wrap);
    }

    &__form {
      width: 33%;
    }

    &__room-features {
      width: 50%;
  
      &-subtitle {
        margin-bottom: 2rem;
      }
      
      &-items {
        @include flex-column($gap: 2rem);
      }

      &-item {
        max-width: 280px;

        &:not(:last-of-type) {
          padding-bottom: 1.7rem;
          border-bottom: 1px solid $darkShade10;
        }
      }
    }

    &__chart {
      width: 50%;
      flex-shrink: 0;
      &-subtitle {
        margin-bottom: 2rem;
      }
    }

    &__reviews {
      margin: 4rem 0 3rem;
      width: 100%;
      max-width: 710px;

      &-header {
        margin-bottom: 2rem;
        @include set-flex($mainAxis: space-between, $crossAxis: center, $gap: 1rem, $flexWrap: wrap);
      }

      &-total {
        color: $darkShade50;
      }

      &-group {
        @include flex-column($gap: 2.2rem);
      }
    }

    &__rules {
      width: 50%;
      &-subtitle {
        margin-bottom: 2rem;
        padding-left: 2rem;
      }
    }

    &__cancellation {
      width: 50%;
      max-width: 340px;

      &-subtitle {
        margin-bottom: 2rem;
      }
    }
  }
}

@media(max-width: 1439px) {
  .page-room {
    &__container {
      max-width: 1160px;
    }
  }
}

@media(max-width: 1200px) {
  .page-room {
    &__container {
      width: 90%;
    }

    .main-content {
      &__info {
        width: 55%;
      }

      &__form {
        width: 40%;
      }

      &__room-features, &__chart {
        margin-bottom: 2rem;
        width: 100%;
      }
    }
  }
}

@media(max-width: 1023px) {
  .page-room {
    .main-content {
      padding-bottom: 0;

      &__photos {
        margin-bottom: 4rem;

        &-main {
          width: 60%;
        }

        &-secondary {
          width: 40%;
        }
      }

      &__wrapper {
        flex-direction: column;
      }

      &__info {
        width: 100%;
        justify-content: space-between;
        margin-bottom: 5rem;
      }

      &__form {
        width: 100%;
        @include flex-center();
      }

      &__room-features, &__chart, &__rules, &__cancellation {
        width: 45%;
      }
    }
  }
}

@media(max-width: 768px) {
  .document-room-page {
    font-size: 57%;
  }

  .page-room {
    &__container {
      width: 95%;
    }

    .main-content {
      &__photos {
        height: 45rem;
        flex-wrap: wrap;

        &-main, &-secondary {
          width: 100%;
          height: 50%;
        }
      }

      &__photo {
        width: 50%;
        height: 100%;
        
        &_big {
          width: 100%;
        }
      }
    }
  }
}

@media(max-width: 425px) {
  .page-room {
    .main-content {
      &__info {
        flex-direction: column;
      }

      &__room-features, &__chart, &__rules, &__cancellation {
        width: 100%;
      }

      &__rules, &__room-features {
        margin-bottom: 3rem;
      }

      &__rules {
        &-subtitle {
          padding-left: 0;
        } 
      }
    }
  }
}

@media(max-width: 375px) {
  .document-room-page {
    font-size: 53%;
  }
}

@import '../../templates/components/h1-title/h1-title';
@import '../../templates/components/h2-subtitle/h2-subtitle';
@import '../../templates/components/h3-label-cta-text/h3-label-cta-text';
@import '../../templates/components/colors-item/colors-item';
@import '../../templates/components/type-item/type-item';
@import '../../templates/components/checkbox/checkbox';
@import '../../templates/components/radio-button/radio-button';
@import '../../templates/components/toggle/toggle';
@import '../../templates/components/main-button/main-button';
@import '../../templates/components/bullet-list/bullet-list';
@import '../../templates/components/text-field/text-field';
@import '../../templates/components/subscription-field/subscription-field';
@import '../..//templates/components/like-button/like-button';
@import '../../templates/components/feed/feed';
@import '../../templates/components/room-features-item/room-features-item';
@import '../../templates/components/expandable-checkbox-list/expandable-checkbox-list';
@import '../../templates/components/rate-button/rate-button';
@import '../../templates/components/range-slider/range-slider';
@import '../../templates/components/pagination/pagination';
@import '../../templates/components/dropdown/dropdown';
@import '../../templates/components/calendar/calendar';
@import '../../templates/components/datepicker-block/datepicker-block';
@import '../../templates/components/search-panel/search-panel';
@import '../../templates/components/registration-panel/registration-panel';
@import '../../templates/components/login-panel/login-panel';
@import '../../templates/components/reservation-panel/reservation-panel';
@import '../../templates/components/room-card/room-card';
@import '../../templates/components/header/header';
@import '../../templates/components/footer/footer';
@import '../../templates/components/donut-chart/donut-chart';