.room-features-item {
  width: 100%;
  max-width: 280px;
  padding-bottom: 1.7rem;
  padding-right: 2rem;
  border-bottom: 1px solid $darkShade10;
  @include set-flex($gap: 1rem);

  &__icon {
    flex-shrink: 0;
    @include set-min-size(25px);
    @include set-size(4.8rem);
    @include set-font(clamp(25px, 4.8rem, 70px), 400, 4.8rem, transparent, "Material Icons", "icons");
    background-image: $primaryGradient;
    background-clip: text;
  }

  &__subtitle {
    font-weight: 700;
    @include sentence-case();
  }

  &__description {
    @include sentence-case();
  }
}