include ../h1-title/h1-title
include ../datepicker-block/datepicker-block
include ../dropdown/dropdown
include ../main-button/main-button

mixin search-form(options) 
  if !options
    - options = {}

  - const {action, title} = options

  form.search-form(action = action)
    .search-form__title
      +h1-title(title)
    .search-form__datepicker 
      +datepicker-block({
        isCalendarHidden: true,
        multipleFields: true,
        fields: {
          field1: {
            label: "прибытие",
            name: "check-date",
            placeholder: "ДД.ММ.ГГГГ"
          },
          field2: {
            label: "выезд",
            name: "check-date",
            value: "19.08.2019",
            placeholder: "ДД.ММ.ГГГГ"
          }
        }
      })
    .search-form__dropdown
      +dropdown({
        isBig: true,
        contentName: "guests",
        field: {
          isRequired: true,
          label: "гости",
          placeholder: "Сколько гостей"
        },
        menuItems: [
          {subject: "adults", subtitle: "взрослые", count: "0"},
          {subject: "children", subtitle: "дети", count: "0"},
          {subject: "infants", subtitle: "младенцы", count: "0"}
        ]
      })
    .search-form__button 
      +main-button({
        isBig: true,
        type: "submit",
        style: "filled",
        hasArrow: true,
        text: 'подобрать номер'
      })
