include ../main-button/main-button

//-
  menu - all menu's items
  isUserLoggedIn - defines, whther user logged in or not
  user - user profile params (name, profileUrl)

mixin header(options)
  if !options
    - options = {}

  - const {menuItems = [], isUserLoggedIn, user: {name, profileUrl} = {}} = options

  .header
    .header__container
      .header__content
        .header__logo
          a.header__logo-link(href= "./index.html")
            img.header__logo-image(src = "../../templates/components/header/img/logo.svg", alt = "Toxin logo")
        nav.header__navbar
          ul.header__navbar-site-navigation
            each item in menuItems
              li.header__navbar-item 
                case item.type 
                  when "link"
                    a.header__navbar-link(class = item.isActive ? "header__navbar-link_active" : "", href = item.url)= item.text 
                  when "button"
                    button.header__navbar-button(class = item.isActive ? "header__navbar-button_active" : "")
                      span.header__navbar-button-text= item.text
                      if item.hasArrow 
                        span.header__navbar-button-expand= "expand_more"
          .header__navbar-user-navigation
            if isUserLoggedIn
              .header__navbar-user-profile 
                a.header__navbar-link(href = profileUrl)= name
            else 
              .header__navbar-authentication
                a.header__navbar-login(href = "./login.html")
                  +main-button({
                    style: "outlined",
                    text: "войти"
                  })
                a.header__navbar-registration(href = "./registration.html")
                  +main-button({
                    style: "filled",
                    text: "зарегистрироваться"
                  })
        button.header__menu-hamburger
          span.header__menu-hamburger-item
          span.header__menu-hamburger-item
          span.header__menu-hamburger-item