.subscription-field {
  position: relative;
  @include set-border($borderColor: $darkShade25, $borderRadius: 0.4rem);
  width: 100%;
  max-width: 267px;

  &:hover, &:focus, &_active {
    border-color: $darkShade75;

    .subscription-field__input {
      &::placeholder {
        color: $darkShade75;
      }
    }
  }

  &__wrapper {
    position: relative;
    display: inline-block;
    height: 100%;
    line-height: 1.8rem;
  }

  &__input {
    display: inline-block;
    @include set-size(100%);
    padding: 1.3rem 1.5rem 1.3rem 1.5rem;
    border: none;
    font-family: inherit;

    &::placeholder {
      line-height: 1.8rem;
      color: $darkShade25;
    }
  }

  &__label {
    position: absolute;
    top: -2rem;
    left: 0;
    width: 100%;
    @include label-cta-text();
    text-transform: uppercase;
    cursor: pointer;
  }

  &__button {
    position: absolute;
    top: 0;
    right: 0;
    border: none,;
    outline: none;
    background: none;
    @include set-size(4.4rem);
    cursor: pointer;

    &::after {
      content: "\e5c8";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      @include set-font(2.4rem, 400, 2.4rem, transparent, "Material Icons", "icons");
      background-clip: text;
      background-image: $primaryGradient;
    }
  }
}