include ../text-field/text-field
//-
  action - path to the server, where form data will be posted
  
mixin subscription-field(options)
  if !options
    - options = {}

  - const {action, field: {isActive, label, state, name, type, value, placeholder, isRequired, isDisabled, mask}} = options

  form.subscription-field(action = action)
    +text-field({
      isActive: isActive,
      btn: {icon: "arrow_forward", color: "gradient", btnType: "submit"},
      label: label,
      state: state,
      type: "email",
      name: name,
      value: value,
      placeholder: placeholder,
      isRequired: isRequired,
      isDisabled: isDisabled
    })