include ../main-button/main-button

mixin header-navbar(options)
  if !options
    - options = {}

  - const {logo, homePageLink, menuItems = [], isUserLoggedIn, user: {name, profileUrl} = {}} = options

  .header-navbar
    .header-navbar__logo
      a.header-navbar__logo-link(href= homePageLink)
        img.header-navbar__logo-image(src = logo, alt = "toxin logo")
    nav.header-navbar__menu
      ul.header-navbar__menu-list 
        each item in menuItems
          li.header-navbar__menu-item 
            case item.type 
              when "link"
                a.header-navbar__menu-link(class = item.isActive ? "header-navbar__menu-link_active" : "", href = item.url)= item.text 
              when "button"
                button.header-navbar__menu-button(class = item.isActive ? "header-navbar__menu-button_active" : "")
                  .header-navbar__menu-button-text= item.text
                  if item.hasArrow 
                    span.header-navbar__menu-button-expand= "expand_more"
    if isUserLoggedIn 
      .header-navbar__user
        a.header-navbar__user-link(href = profileUrl)= name
    else 
      .header-navbar__auth-buttons 
        .header-navbar__auth-login
          +main-button({
            style: "outlined",
            text: "войти"
          })
        .header-navbar__auth-registration
          +main-button({
            style: "filled",
            text: "зарегистрироваться"
          })