// Mixin for setting the size of the element

@mixin set-size($width, $height: $width) {
  width: $width;
  height: $height;
}

// Mixin for setting font properties

@mixin set-font($fontSize: null, $fontWeight: null, $lineHeight: null, $color: null, $fontFamily: null, $fontFamilyType: "sans-serif") {
  @if ($fontFamily != inherit) and ($fontFamily != null) {

    @if ($fontFamilyType == "sans-serif") {
      font-family: $fontFamily, Arial, sans-serif;
    }

    @if ($fontFamilyType == "serif") {
      font-family: $fontFamily, Georgia, serif;
    }

    @if ($fontFamilyType == "monospace") {
      font-family: $fontFamily, "Courier New", monospace;
    }

    @if ($fontFamilyType == "icons") {
      font-family: $fontFamily;
    }

  } @else {
    font-family: inherit;
  }

  font-size: $fontSize;
  font-weight: $fontWeight;
  line-height: $lineHeight;
  color: $color;
}

// Mixin for setting title text

@mixin title-text() {
  @include set-font(2.4rem, 700, 2.9rem, $darkShade100, Montserrat);
}

// Mixin for setting subtitle text

@mixin subtitle-text() {
  @include set-font(1.9rem, 700, 2.3rem, $darkShade100, Montserrat);
}

// Mixin for setting label-cta-text

@mixin label-cta-text() {
  @include set-font(1.2rem, 700, 1.5rem, $darkShade100, Montserrat);
}

// Mixin for setting body text

@mixin body-text() {
  @include set-font(1.4rem, 400, 2.4rem, $darkShade75, Montserrat);
}

// Mixin for setting sentence-case text: first letter of sentence is uppercase, another letters - lowercase
@mixin sentence-case() {
  text-transform: lowercase;
  
  &::first-letter {
    text-transform: uppercase;
  }
}

// Mixin for setting border properties
@mixin set-border($borderWidth: 1px, $borderStyle: solid, $borderColor: transparent, $borderRadius: null) {
  border: $borderWidth $borderStyle $borderColor;

  @if borderRadius {
    border-radius: $borderRadius;
  }
}

// Mixins for flex layout

// Mixin for setting flex layout
@mixin set-flex ($mainAxis: null, $crossAxis: null, $gap: null, $flexWrap: null) {
  display: flex;
  justify-content: $mainAxis;
  align-items: $crossAxis;
  gap: $gap;
  flex-wrap: $flexWrap;
}

// Mixin for setting flex-direction to column
@mixin flex-column($mainAxis: null, $crossAxis: null, $gap: null) {
  @include set-flex($mainAxis, $crossAxis, $gap);
  flex-direction: column;
}

// Mixin for centering flex-items
@mixin flex-center($gap: null, $flexWrap: null) {
  @include set-flex(center, center, $gap, $flexWrap);
}



