include ../h1-title/h1-title
include ../text-field/text-field
include ../radio-button/radio-button
include ../toggle/toggle
include ../main-button/main-button

mixin registration-panel(options) 
  if !options
    - options = {}

  - const {action, title} = options

  .registration-panel
    .registration-panel__title
      +h1-title(title)
    form.registration-panel__form.js-validate(action = action)
      .registration-panel__user-name
        +text-field({
          name: "userName",
          placeholder: {text: "Имя"},
        })
        +text-field({
          name: "userSurname",
          placeholder: {text: "Фамилия"},
        })
      .registration-panel__user-gender
        +radio-button({
          label: "Мужчина",
          name: "gender",
          isChecked: true
        })
        +radio-button({
          label: "Женщина",
          name: "gender"
        })
      .registration-panel__user-birthdate 
        +text-field({
          label: "дата рождения",
          name: "userBirthDate",
          placeholder: {text: "дд.мм.гггг", isUppercase: true},
          mask: "date"
        })
      .registration-panel__user-login-info
        +text-field({
          label: "данные для входа в сервис",
          type: "email",
          name: "userEmail",
          placeholder: {text: "Email"},
        })
        +text-field({
          type: "password",
          name: "userPassword",
          placeholder: {text: "Пароль"},
        })
      .registration-panel__additional-info
        +toggle({
          label: "получать спецпредложения",
          name: "specialOffer",
          isRequired: true
        })
      .registration-panel__button 
        +main-button({
          isBig: true,
          type: "submit",
          style: "filled",
          hasArrow: true,
          text: 'перейти к оплате'
        })
    .registration-panel__authentification
      = "Уже есть аккаунт на Toxin"
      a.registration-panel__authentification-link(href = "./login.html")
        +main-button({
          isSidePaddingLarge: true,
          style: "outlined",
          text: "войти"
        })
