//-
  color - color of square
  name - color's name
  code - color's hex code

mixin colors-item(options)
  if !options
    - options = {}

  - const {color, name, code} = options

  .colors-item 
    .colors-item__square(class = color ? `colors-item__square_${color}` : "") 
    .colors-item__info 
      .colors-item__name= name 
      .colors-item__code= code 
