//-
  options.name - name attribute for checkbox's input
  options.checked - defines, whether checkbox is checked or not
  options.label - label for checkbox
  options.isRich - defines, whether checkbox is rich type or not
  options.description - description for checkbox

mixin checkbox(options)
  if !options
    - options = {}

  label.checkbox
      input.checkbox__input(type = "checkbox", name = options.name, checked = options.checked)
      if options.isRich
        span.checkbox__text
          span.checkbox__label.checkbox__label_type_rich!= options.label
          span.checkbox__description!= options.description
      else 
        span.checkbox__label!= options.label